<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}">List</title>
  </head>
  <body>
    <div>
      <h1 th:text="${title}">List</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user: ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:if="${user.email}" th:text="${user.email}"></td>
            <td th:if="${not (user.email != null)}" th:text="${'-'}"></td>
            <!-- same result using not -->
            <!-- <td th:if="${user.email == null}" th:text="${'-'}"></td> -->
          </tr>
        </tbody>
      </table>
      <!-- <span
        th:if="${users.size() == 0}"
        th:text="${'No Users available'}"
      ></span> -->
      <span
        th:if="${users.isEmpty()}"
        th:text="${'No users available!'}"
      ></span>
    </div>
  </body>
</html>
